<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
</head>
<body>

<h1>Editar Usuário</h1>

<form action="/atualizar" method="post">

    <input type="hidden" name="id" th:value="${usuario.id}">

    <label>Nome:</label>
    <input type="text" name="nome" th:value="${usuario.nome}">
    <br><br>

    <label>Email:</label>
    <input type="email" name="email" th:value="${usuario.email}">
    <br><br>

    <label>Senha:</label>
    <input type="password" name="senha" th:value="${usuario.senha}">
    <br><br>

    <button type="submit">Atualizar</button>

</form>

</body>
</html>